<h1 class="title is-3">Missing Email Customer List</h1>

<div class="columns is-multiline">
  <% @customers.each do |customer| %>
    <div class="column is-one-quarter">
      <%= render partial: 'customer',
                locals: { customer: customer } %>
    </div>
  <% end %>
</div>

<p>
  <%= link_to 'Home', root_path %>
  <%= link_to 'Alphabetized', customers_alphabetized_path %>
</p>